GUNICORN_CMD_ARGS='-c /app/gunicorn_conf.py'

DJANGO_SETTINGS_MODULE='config.settings'
DEBUG=false
TIMEZONE='UTC'
SECRET_KEY='--SECRET--'

DJANGO_SUPERUSER_EMAIL=''
DJANGO_SUPERUSER_USERNAME=''
DJANGO_SUPERUSER_PASSWORD=''

ALLOWED_HOSTS='localhost,.xraise.ai'
CORS_EXTRA_ORIGINS=''
CORS_ALLOW_CREDENTIALS=true
CORS_ALLOW_ALL_ORIGINS=false

POSTGRES_DB='xraise'
POSTGRES_USER='xraise'
POSTGRES_PASSWORD=''
POSTGRES_HOST='postgres'
POSTGRES_PORT=5432
